body {
    margin: 0 auto;
    padding: 0px;
    text-align: left;
    width: 100%;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    background-color: rgb(24, 45, 83);
    margin-top: 30;
    background-image: url("../chobe-safari-lodge-nile-view-at-sunset-1");
    color: rgb(246, 246, 248);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.header {
    height: auto;
    width: auto;
    background-color: #d5d8d8;
    height: 65;
}

a,
ul {
    text-decoration: none;
    margin-top: -50;
    display: block;
    color: #0467b8;
}

.admin {
    width: 50;
    padding-left: 1000;
}

#slink {
    padding-left: 0%;
    text-decoration: none;
    margin-top: 5;
}

.logo,
li {
    display: inline-block;
    height: 70;
}

.btn {
    text-align: right;
}

table {
    margin-top: 35;
}

#signup {
    display: none;
}

.requestform,
h1,
form,
{
    margin-top: 30;
}

hr {
    width: 400;
    color: #b804af;
}

h1 {
    color: gray;
}

select,
input {
    width: 250px;
    height: 40px;
    text-align: center;
    font-family: "Arial";
}

.button {
    /** Font Style **/
    font-family: "Helvetica, Arial";
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    /** Button Style **/
    display: inline-block;
    vertical-align: middle;
    vertical-align: auto;
    zoom: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #13619f;
    background: rgb(2, 9, 71);
    padding: 11px 20px;
    border-radius: 3px;
}

.heading {
    font-family: Helvetica, sans-serif;
}

.button:active {
    border-color: #083559;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
}

table,
th,
td {
    border: 1px solid black;
    width: 60%;
}

table {
    border-collapse: collapse;
}

td {
    text-align: "center";
    content: inherit;
    background-color: khaki;
}

tr {
    height: 2em;
}

th {
    background-color: honeydew;
}

a:hover {
    color: #2b0424;
}