table,
th,
td {
    border: 1px solid black;
    width: 60%;
    color: #fff;
}

table {
    border-collapse: collapse;
}

.newrequest {
    padding-left: 1000;
}

td {
    text-align: "center";
    content: inherit;
    background-color: rgb(38, 69, 126);
}

tr {
    height: 2em;
}

th {
    background-color: rgb(1, 22, 54);
}