table,
th,
td {
    border: 1px solid black;
    width: 40%;
}

table {
    border-collapse: collapse;
}

td {
    text-align: "center";
    content: inherit;
    background-color: khaki;
}

tr {
    height: 2em;
}

th {
    background-color: honeydew;
}